server:
  port: 8888
spring:
  profiles:
    active: native
  application:
    name: config-service
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configurations


management:
  endpoints:
    web:
      exposure:
        include: health,info,env,status,prometheus
  endpoint:
    health:
      show-details: always